<!DOCTYPE html>
<html lang="it-IT">

<head>

    <meta charset="UTF-8">
    <title>Food For Everyone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicons/favicon.ico' %}">
    <!-- Metatag specifici per Apple -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Food For Everyone">

    {% block extra_head %}
    <!-- Blocchi per stili aggiuntivi -->
    {% endblock %}

</head>

<body>

    <script src="{% static 'scripts.js' %}" defer></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage' %}">Food For Everyone</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <!-- Dropdown delle categorie e barra di ricerca -->
            <ul class="navbar-nav">
                <!-- Dropdown delle categorie -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="recipesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ricette
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="recipesDropdown">
                        <!-- Itera attraverso le categorie passate dal contesto -->
                        {% for category_key, category_label in categories %}
                        <li><a class="dropdown-item" href="{% url 'category_recipes' category_key %}">{{ category_label }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <!-- Barra di ricerca -->
                <li class="nav-item" style="padding-left: 16px">
                    <form class="d-flex" action="{% url 'search' %}" method="GET">
                        <input class="form-control me-2" type="search" placeholder="Cerca una ricetta" aria-label="Cerca" name="q">
                        <button class="btn btn-outline-light" type="submit">Cerca</button>
                    </form>
                </li>
            </ul>
        </div>

            <!-- Menu dell'account -->
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <!-- Mostra solo quando l'utente è autenticato -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Il tuo account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="padding-right: 10px; ">
                            <li><a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Profilo</a></li>
                            <li><a class="dropdown-item" href="{% url 'add_recipe' %}">Aggiungi Ricetta</a></li>
                            <li><a class="dropdown-item" href="{% url 'favorites' %}">Preferiti</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'user_logout' %}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <!-- Mostra solo quando l'utente non è autenticato -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my-login' %}">
                            <button type="button" class="btn btn-primary">Login</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">
                            <button type="button" class="btn btn-secondary">Register</button>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>

</nav>

    <div class="container">
        {% block content %}
        <!-- Content delle pagine figlie -->
        {% endblock %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

 <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <p>&copy; 2024 Food For Everyone. Tutti i diritti riservati.</p>
        </div>
    </footer>

</body>

</html>
