{% extends 'base.html' %}

{% block extra_head %}
    <style>
        /* Aggiungi regole CSS personalizzate */
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .content {
            flex: 1;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4; /* Numero di linee da mostrare */
            -webkit-box-orient: vertical;
        }

        .card-img-top {
            object-fit: cover;
            height: 300px; /* Imposta l'altezza dell'immagine */
        }

        .card {
            height: 100%; /* Imposta l'altezza della card */
        }
    </style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Modifica il tuo profilo</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Salva</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-6 text-center">
            <a href="{% url 'change_password' %}" class="btn btn-secondary">Cambia la tua password</a>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="text-center">Le tue ricette</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-bottom: 20px">
        {% if user_recipes %}
            {% for recipe in user_recipes %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            <p class="card-text flex-grow-1 description">{{ recipe.description }}</p>
                            <small>Pubblicata il {{ recipe.created_at|date:"d F Y" }}</small>
                            <div class="d-flex justify-content-between mt-auto">
                                <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-primary">Dettagli</a>
                                <div class="d-flex">
                                    <form method="post" action="{% url 'edit_recipe' recipe.id %}" class="me-2">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-secondary">Modifica</button>
                                    </form>
                                    <form method="post" action="{% url 'delete_recipe' recipe.id %}" onsubmit="return confirm('Sei sicuro di voler eliminare questa ricetta?');">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger">Elimina</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center">Non hai ancora aggiunto nessuna ricetta.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
